services:
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${COMPOSE_PROJECT_NAME}
      POSTGRES_USER: root
      POSTGRES_PASSWORD: rootpass
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
